<template>
	<div class="planejamento">
		<div class="semestre-menu">
			<MenuSemestre v-bind:changeSemester="(arg) => {	
															this.resetDisciplinaInfo();
															this.semestreSelecionado = arg;
													}"/>
		</div>

	<div class="planejamento-remaining-container" v-if="!(disciplinaInfoSelected == null)">
			<DisciplinaInfo :disciplina="disciplinaInfoSelected" :close="resetDisciplinaInfo"/> 
		</div>

		<div class="planejamento-remaining-container" v-else-if="semestreSelecionado === 0">
			<TrilhaObrigatoria :selectDisciplinaCallback="setDisciplinaInfo"/>
			<Trilha v-for="obj_trilha of trilhas"
							v-bind:key="obj_trilha.id_trilha"
							v-bind:trilha="obj_trilha"
              :selectDisciplinaCallback="setDisciplinaInfo"/>
		</div>

		<div class="planejamento-remaining-container" v-else>
			<ListaSemestre v-bind:semestre="semestreSelecionado"
										 v-bind:disciplinasSemestre="getDisciplinasSemestreSelecionado()"
					 v-bind:selectDisciplina="setDisciplinaInfo"/> 
		</div>
	</div>
</template>

<script>
import Trilha from "../components/Trilha.vue";
import TrilhaObrigatoria from "../components/TrilhaObrigatoria.vue";
import ListaSemestre from "../components/ListaSemestre.vue";
import MenuSemestre from "../components/MenuSemestre.vue";
import DisciplinaInfo from "../components/DisciplinaInfo.vue";
import DisciplinaContextMenu from "../components/DisciplinaContextMenu.vue";

export default {

  data() {
    return {
      disciplinaInfoSelected: null,
      semestreSelecionado: 0,
      trilhas: []
    };
  },

  components: {
    Trilha,
    ListaSemestre,
    MenuSemestre,
    DisciplinaInfo,
	DisciplinaContextMenu,
	TrilhaObrigatoria
  },

  async asyncData({ app }) {
    let trilhas = await app.$axios.$get("/trilhas");
    return { trilhas };
  },

  methods: {
    getDisciplinasSemestreSelecionado() {
      return this.$store.state.shared_state.disciplinasPlanoSelected.filter(
        obj => {
          return obj.ano_semestre === this.semestreSelecionado;
        }
      );
    },

    resetDisciplinaInfo() {
      this.disciplinaInfoSelected = null;
    },

    setDisciplinaInfo(new_state) {
      this.disciplinaInfoSelected = new_state;
    }
  }
};
</script>

<style lang="scss">
.planejamento {
  font-family: $default-font;
  font-weight: $default-font-weight;
  overflow: hidden;
  width: 90%;
  height: 90%;
  padding-top: 1rem;
}

.planejamento-remaining-container {
  width: 100%;
  height: 100%;
}

.semestre-menu {
  width: 100%;
  height: 2rem;
  margin-bottom: 10px;
}
</style>
