<template>
  <div class="aluno-container">
        <div class="aluno-nusp">{{aluno.nusp_aluno}}</div>
        <button @click=editarAluno class="aluno-editar"> Editar </button>
        <button @click=deletarAluno class="aluno-deletar"> Deletar </button>
  </div>
</template>

<script>

export default {
    props: ["aluno", "deleteAluno"],

    data() {
        return {

        };
    },
    methods: {
        editarAluno() {
            this.$store.commit("setAluno", {aluno: this.aluno})
            this.$router.push('alunos/edit') 
        },
        deletarAluno() {
            this.$axios({
                method:"DELETE",
                url: `http://localhost:3000/pessoas?id_pessoa=eq.${this.aluno.id_pessoa}`,
                headers: {
                    Authorization:'Bearer '+this.$store.state.token
                },
                data: {
                    id_pessoa: this.aluno.id_pessoa,
                    nusp_aluno: this.aluno.nusp_aluno,
                    turma_ingresso: this.aluno.turma_ingresso
                }
            })
            this.$axios({
                method: "DELETE",
                url: `http://localhost:3000/alunos?id_pessoa=eq.${this.aluno.id_pessoa}`,
                headers: {
                    Authorization:'Bearer '+this.$store.state.token
                },
                data: {
                    id_pessoa: this.aluno.id_pessoa,
                    nusp_aluno: this.aluno.nusp_aluno,
                    turma_ingresso: this.aluno.turma_ingresso
                }
            }).then(()=> {
                this.deleteAluno()
                this.$router.push('/alunos')
            })
        }
    }
};
</script>

<style lang="scss">

.aluno-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 2rem;
   // border: 1px solid red;
    margin-bottom: 5px;
}

.aluno-nusp {
    margin: auto;
}

.aluno-editar {
    margin-right: 5px;
    background-color: $secondary-color;
    border-radius: 8px;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.aluno-editar:hover {
    background-color: $hover-color;
    color: $secondary-color;
    border: 2px solid $secondary-color;
}

.aluno-deletar {
    background-color: $split-complementary-color2;
    border-radius: 8px;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.aluno-deletar:hover {
    background-color: $hover-color;
    color: $split-complementary-color2;
    border: 2px solid $split-complementary-color2;
}

</style>