<template>
  	<div class="progress-bar-container">
		<div class="progress-bar-title"> {{title}} </div>
		<div class="progress-bar-number"> 
			(
			<div class="progress-bar-number-feitas"> {{getFeitasCreditos}} </div>
			+ 
			<div class="progress-bar-number-plano"> {{getPlanoCreditos}} </div>
			 ) / {{getTotal}} créditos
		</div>

		<div class="progress-bar"> 
			<div class="progress-bar-feitas" v-bind:style="{width: getFeitasWidth }"/>
			<div class="progress-bar-plano"  v-bind:style="{width: getPlanoWidth}"/>
		</div>
		
  	</div>
</template>

<script>

function checkIn(disciplina, arr) {
  if (!arr) return false;
  for (let i = 0; i < arr.length; i++) {
    if (arr[i].id_disciplina === disciplina.id_disciplina) return true;
  }
  return false;
}

export default {

	props: ['title', 'totalCreditos', 'disciplinasToConsider'],

	data() {
		return {
			bar_width: 5,
			shared_state: this.$store.state.shared_state
		}
	},

	created: function() {
		console.log(this.title)
		console.log(this.disciplinasToConsider)
		console.log("-----")
	},

	computed: {
		getFeitasWidth() {
			return (this.getFeitasCreditos /this.bar_width) + 'rem';
		},

		getPlanoWidth() {
			return (this.getPlanoCreditos /this.bar_width) + 'rem';
		},

		getFeitasCreditos() {
			let res= this.shared_state.disciplinasFeitas.reduce(
				(sum, el) => {
					return sum + this.getCreditosFromDisciplina(el);
				},
				0
			);
			return res;
		},

		getPlanoCreditos() {
			return this.shared_state.disciplinasPlanoSelected.reduce(
				(sum, el) => {
					if(checkIn(el,this.shared_state.disciplinasFeitas)) {
						return sum;
					} else return sum + this.getCreditosFromDisciplina(el);
				},
				0
			);
		},

		getTotal() {
			return this.totalCreditos;
		}
	},

	methods: {
		getCreditosFromDisciplina(el) {
			for(let i=0;i<this.disciplinasToConsider.length;i++) {
				if(el.id_disciplina === this.disciplinasToConsider[i].id_disciplina) {
					return this.disciplinasToConsider[i].creditos_aula + this.disciplinasToConsider[i].creditos_trabalho;
				}
			}
			return 0;
		}
	}
}


</script>

<style lang="scss">
.progress-bar-container {
	font-family: $default-font;
	margin:auto;
	display:flex;
	justify-content: center;
	flex-direction:column;
	width: 200px;
	height: 100px;
}

.progress-bar-title {
	color: $primary-color;
	margin: 3px 3px;	
}

.progress-bar-number {
	display: flex;
	justify-content: center;
	font-weight: 600;
	height: 1.5rem;
}

.progress-bar-number-feitas {
	margin: 0 3px; 
	color: $primary-color;
}

.progress-bar-number-plano {
	margin: 0 3px;
	color: $secondary-color;
}

.progress-bar {
	display: flex;
	margin: 3px auto;
	background-color: $hover-color;
	height: 1rem;
	width: 90%;
	border-radius: 5px;
	box-shadow: 0px 1px 1px 0px $border-shadow;
}

.progress-bar-feitas {
	margin-right: -2px;
	height: 100%;
	border-radius: 2px;
	background-color: $primary-color;
	z-index: 2;
}

.progress-bar-plano {
	height: 100%;
	background-color: $secondary-color;
	border-radius: 2px;
}


</style>
