<template>
  <div class="disciplinainfo-container"> 
    <div class="disciplinainfo-descricao-container">
        <div class="disciplinainfo-title"> {{disciplina.codigo_disciplina}} - {{disciplina.nome}} </div>
        <div class="disciplinainfo-descricao"> <strong>Descrição:</strong> {{disciplina.ementa}} </div>
    </div>

	<div class="disciplinainfo-requisitos-container">
		<div class="disciplinainfo-title"> Requisitos </div>
        <ul v-if="prerrequisitos.length > 0">
			<li v-for="disc of prerrequisitos" v-bind:key="disc.id_disciplina"> {{disc.codigo_disciplina}} </li>
		</ul>
		<div v-else> Disciplina sem prerrequisitos. </div>
	</div>
  </div>
</template>

<script>

export default {

  props: ['disciplina', 'close'],

  data() {
    return {
      prerrequisitos: []
    };
  },

  created: function() {
    this.$axios({
		method: "POST",
		url: "/rpc/prerrequisitos_disciplina",
		data: {arg_id_disciplina: this.disciplina.id_disciplina}
    })
    .then(dados => {
		this.prerrequisitos = dados.data;
		console.log(this.prerrequisitos)
	});
  }
  
};
</script>

<style lang="scss">
.disciplinainfo-descricao-container {
  box-sizing: border-box;
  padding: 1rem 1.7rem 1rem 1.7rem;
  background-color: white;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 0px $border-shadow;
  margin-bottom: 20px;
}

.disciplinainfo-requisitos-container {
  box-sizing: border-box;
  padding: 1rem 1.7rem 1rem 1.7rem;
  background-color: white;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 0px $border-shadow;
}


.disciplinainfo-descricao {
  line-height: 1.5;
}

.disciplinainfo-title {
  font-weight: 900;
  font-size: 22px;
  color: $primary-color;
  margin-bottom: 10px;
}
</style>