<template>
	<div>
        <ul ref="menu" id="right-click-menu" tabindex="-1" @blur="closeFunction" v-bind:style="{ top: position.top, left: position.left }">
			<li v-for="item of options" v-bind:key="item.key" @click="item.callback"> {{item.text}} </li>
		</ul>
	</div>
</template>

<script>

export default {
	
	props: ['options', 'position', 'closeFunction'],

    data() {
        return {
            top: '0px',
            left: '0px'
        }
    },
    
    created: function() {
        this.position.top = this.position.top + 'px';
        this.position.left = this.position.left + 'px';
    },

    mounted: function() {
        this.$refs.menu.focus()
    }
};
</script>

<style lang="scss">

#demo {
    width: 100%;
    height: 100%;
}

#right-click-menu{
    background: #FAFAFA;
    border: 1px solid #BDBDBD;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 250px;
    z-index: 999999;
}

#right-click-menu li {
    border-bottom: 1px solid #E0E0E0;
    margin: 0;
    padding: 5px 35px;
}

#right-click-menu li:last-child {
    border-bottom: none;
}

#right-click-menu li:hover {
    background: #1E88E5;
    color: #FAFAFA;
}


</style>


