<template>
  <div class="item-semestre-container">
    <div class="item-semestre-codigo-container" v-bind:class="colorPicker" > 
      <div class="item-semestre-codigo-text"> {{disciplina.codigo_disciplina}} </div> 
    </div>
    <div class="item-semestre-nome-container"> 
      <div class="item-semestre-nome-text"> {{disciplina.nome}} </div> 
    </div>
    <div class="item-semestre-icone-container"> 
      <div class="item-semestre-icone fa fa-info-circle fa-lg" @click="() => {selectDisciplina(disciplina)}"/>
    </div>
    
  </div>
</template>

<script>

export default {

  props: ['disciplina', 'selectDisciplina'],

  computed: {
    colorPicker() {
      let state = 0;
      let feitas = this.$store.getters.getDisciplinasFeitas;
      for(let i=0;i<feitas.length; i++) {
        if(this.disciplina.id_disciplina === feitas[i].id_disciplina) {
          state = 1;
          break;
        }
      }
      return {
        'item-semestre-feito': state === 1
      }
    }
  }

};
</script>

<style lang="scss">

.item-semestre-container {
  display: flex;
  width: 100%;
  height: 2.25rem;
  margin-bottom: 10px;
}

.item-semestre-codigo-container {
  display: flex;
  height: 100%;
  width: 6rem;
  background-color: $secondary-color;
}

.item-semestre-feito {
  background-color: $primary-color;
}

.item-semestre-codigo-text {
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin: auto;
}

.item-semestre-nome-container {
  display: flex;
  height: 100%;
  width: 90%;
  background-color: $light-color;
}

.item-semestre-nome-text {
  margin: auto 5px;
}

.item-semestre-icone-container {
  display: flex;
  height: 100%;
  width: 30px;
  background-color: $light-color;
}

.item-semestre-icone {
  margin: auto;
}

</style>