<template>
	<div class=item-disciplina @contextmenu="openContextMenuGeneral">
		<div v-bind:class="iconDecider">
			<div class="none">
			<div v-if="renderSemester" class="floating-box"> {{ semesterState }} </div>
			</div>
		</div>
		
		<div class="item-disciplina-codigo"> <span class="item-disciplina-text">{{disciplina.codigo_disciplina}}</span> </div>
		<div class="item-disciplina-nome">{{disciplina.nome}}</div>
		<DisciplinaContextMenu v-if="contextMenuState === 'general-selection'" :closeFunction="closeContextMenu" :position="contextMenuPos" :options="contextMenuGeneralOptions()"/>
		<DisciplinaContextMenu v-else-if="contextMenuState === 'semestre-selection'" :closeFunction="closeContextMenu" :position="contextMenuPos" :options="contextMenuSemesterOptions()"/>
	</div>
</template>

<script>
import DisciplinaContextMenu from "./DisciplinaContextMenu.vue";

function checkIn(disciplina, arr) {
  if (!arr) return 0;
  for (let i = 0; i < arr.length; i++) {
    if (arr[i].id_disciplina === disciplina.id_disciplina) return true;
  }
  return false;
}

export default {
  props: ["disciplina", "selectDisciplinaCallback"],

  data() {
    return {
      contextMenuPos: { top: 0, left: 0 },
      contextMenuState: "no-menu",
      prerrequisitos: [],
      states: ["locked", "doing", "done", "unlocked"],
	  state: 0,
	  semesterState: 0
    };
  },

  components: {
    DisciplinaContextMenu
  },

  created: function() {
    this.$axios({
      method: "GET",
      url: `/prerequisitos?id_disciplina=eq.${this.disciplina.id_disciplina}`
    }).then(dados => {
      this.prerrequisitos = dados.data;
    });
    this.setState();
  },

  computed: {
    iconDecider: function() {
      this.setState();
      return {
        "item-disciplina-icon-container": true,
        "item-disciplina-locked": this.state === 0,
        "item-disciplina-doing": this.state === 1,
        "item-disciplina-done": this.state === 2,
        "item-disciplina-unlocked": this.state === 3
      };
    },
	
	renderSemester: function() {
		return this.checkDisciplinaOnPlano() && !this.checkDisciplinaFeita();
	}
  },

  	methods: {
		setState() {
			let fazendo = this.$store.getters.getdisciplinasFazendo;
			let state = 3;
			if (this.checkDisciplinaFeita()) {
				state = 2;
			} else if (this.checkDisciplinaOnPlano()) {
				state = 1;
			} else {
				if (this.checkPrerrequisitosDone() === false) state = 0;
			}
			this.state = state;

			let isOnPlan = this.$store.state.shared_state.disciplinasPlanoSelected.filter((el) => el.id_disciplina === this.disciplina.id_disciplina)
			if(isOnPlan.length > 0) {
				this.semesterState = isOnPlan[0].ano_semestre
			}
		},

		checkPrerrequisitosDone() {
			for (let i = 0; i < this.prerrequisitos.length; i++) {
				if (
				!checkIn(this.prerrequisitos[i], this.$store.getDisciplinasFeitas)
				) {
				return false;
				}
			}
			return true;
		},

		checkDisciplinaOnPlano() {
			let onPlan = this.$store.state.shared_state.disciplinasPlanoSelected;
			return checkIn(this.disciplina, onPlan);
		},

		checkDisciplinaFeita() {
			let feitas = this.$store.getters.getDisciplinasFeitas;
			return checkIn(this.disciplina, feitas);
		},

		openContextMenuGeneral(e) {
			e.preventDefault();
			this.contextMenuPos = { top: e.pageY, left: e.pageX };
			this.contextMenuState = "general-selection";
		},

		openContextMenuSemestre(e) {
			e.preventDefault();
			this.contextMenuState = "semestre-selection";
		},

		closeContextMenu(e) {
			this.contextMenuState = "no-menu";
		},

		contextMenuGeneralOptions() {
			let callback_aux, text;
			let menu = [];

			if (this.$store.getters.getPlanoSelected !== -1 && !this.checkDisciplinaFeita() && this.checkPrerrequisitosDone()) {
				if (this.checkDisciplinaOnPlano()) {
					text = "Remover do plano atual";
					let planoDeletar = this.$store.getters.getPlanoSelected;
					let callback_delete = e => {
					this.closeContextMenu(e);
					this.$axios({
					method: "DELETE",
					url: `/alunos_planejam_disciplinas?id_pessoa=eq.${
						this.$store.getters.getIdPessoa
					}&num_plano=eq.${planoDeletar}&id_disciplina=eq.${
						this.disciplina.id_disciplina
					}`,
					headers: {
						Authorization: "Bearer " + this.$store.state.token
					}
					}).then(response => {
					console.log(response);
					this.$store.commit("removeDisciplinaPlano", {
						plano: planoDeletar,
						disciplina: this.disciplina
					});
					this.setState();
					});
				};
				menu.push({ key: 1, text: text, callback: callback_delete });
				} else {
				text = "Adicionar ao plano atual";
				let planoAdd = this.$store.getters.getPlanoSelected;
				let callback_add = e => {
					this.openContextMenuSemestre(e);
				};
				menu.push({ key: 1, text: text, callback: callback_add });
				}
			}

			text = "Mais informações";
			callback_aux = e => {
				this.closeContextMenu(e);
				this.selectDisciplinaCallback(this.disciplina);
			};
			menu.push({ key: 2, text: text, callback: callback_aux });
			return menu;
		},

		contextMenuSemesterOptions() {
			let semestres = this.$store.getters.getSemestres;
			let planoAdicionar = this.$store.getters.getPlanoSelected;
			semestres = semestres.map(el => {
				let callback = (e) => {
					this.closeContextMenu(e);
					this.$axios({method: "GET", url: `/alunos?id_pessoa=eq.${this.$store.getters.getIdPessoa}`})
					.then(dados => {
						let arr = dados.data[0];
						this.$axios({method: "POST", url: `http://localhost:3000/alunos_planejam_disciplinas`, 
									headers: {Authorization: "Bearer " + this.$store.state.token}, 
									data: { num_plano: planoAdicionar, 
											id_pessoa: this.$store.getters.getIdPessoa, 
											nusp_aluno: arr.nusp_aluno, 
											id_disciplina: this.disciplina.id_disciplina, 
											ano_semestre: el}})
						.then(response => {
							this.$axios({method: "POST", url: `/rpc/disciplina_planejada_pelo_aluno_no_plano`,
										data: { arg_id_pessoa: this.$store.getters.getIdPessoa,
												arg_num_plano: planoAdicionar,
												arg_id_disciplina: this.disciplina.id_disciplina }})
							.then( data => {
								this.$store.commit("addDisciplinaPlano", {plano: planoAdicionar, disciplina: data.data[0]});
								this.setState();
							});
						});
					});
				};
				return { key: el, text: `${el}º Semestre`, callback };
			});
			return semestres;
		}
  	}
};
</script>

<style lang="scss">
.item-disciplina {
  box-sizing: border-box;
  width: 140px;
  height: 130px;
  border-radius: 10px;
  padding: 4px 2px 1px 2px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: $primary-color;
  font-family: $default-font;
  text-align: center;
}
.item-disciplina:hover {
  background-color: $hover-color;
}

.none {
	width: 0;
	height: 0;
}


.item-disciplina-codigo {
  display: flex;

  width: 90%;
  height: 15%;
  padding-top: 5px;
  font-weight: 600;
  font-size: 15px;
  vertical-align: middle;
}
.item-disciplina-text {
  height: 20px;
  margin: auto;
}

.item-disciplina-nome {
  width: 100%;
  height: 35%;
  font-weight: 100;
  font-size: 11px;
  margin: auto;
}

.item-disciplina-icon-container {
  font-family: FontAwesome;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
}

.floating-box {
	align-self: flex-end;
	box-sizing: border-box;
	background-color: white;
	height: 1.5rem;
	width: 1.5rem;
	border: 1px solid black;
	border-radius: 100%;
	z-index: 999;
	float: left;
}

.item-disciplina-locked {
  background-color: $medium-light-gray;
}
.item-disciplina-locked::before {
  content: "\f023";
  font-size: 1.5rem;
  color: white;
}

.item-disciplina-done {
  background-color: $primary-color;
}
.item-disciplina-done::before {
  content: "\f00c";
  font-size: 1.5rem;
  color: white;
}

.item-disciplina-doing {
  background-color: $secondary-color;
}
.item-disciplina-doing::before {
  content: "\f040";
  font-size: 1.5rem;
  color: white;
}

.item-disciplina-unlocked {
  background-color: $medium-light-gray;
}
.item-disciplina-unlocked::before {
  content: "\f13e";
  font-size: 1.5rem;
  color: white;
}
</style>

