<template>
  <div v-if="!ready"> Loading </div>
  <div v-else class="lista-planos">
    <Plano :plano="disciplinasRealizadas()"/>
    <Plano v-for="i of planosKeys"
                        v-bind:key="i"
                        v-bind:plano="planos[i]"/>
	<div class="lista-planos-button" @click="addPlan"> Adicionar plano </div> 
  </div>
</template>

<script>
import Plano from '@/components/Plano.vue';

export default {

  components: {
    Plano
  },

  data() {
    return {
	  planos: {},
	  ready: false,
	  change: false
    };
  },

  computed: {
	  planosKeys() {
		  this.change;
		  return Object.keys(this.planos);
	  }
  },

  created: function() {
    this.$axios({
      method: "POST",
      url: `/rpc/disciplinas_planejadas_pelo_aluno`,
      data: {arg_id_pessoa: this.$store.getters.getIdPessoa}
    })
    .then(dados => {
      let arr = dados.data;
      let counter = 1;
      for(let i=0; i < arr.length; i++) {
        if(this.planos[arr[i].num_plano] == null) {
          this.planos[arr[i].num_plano] = {id_plano: arr[i].num_plano,
                                           disciplinas: [],
                                           nome: `Plano ${counter}`};
          counter += 1;
        }
        this.planos[arr[i].num_plano].disciplinas.push(arr[i]);
      }
      for(let i in this.planos) {
        console.log(i)
        console.log(this.planos[i])
        console.log("------")
      }
      this.ready = true;
    });
  },

  methods: {
    disciplinasRealizadas() {
      return {id_plano: -1,
              disciplinas: [],
              nome: "Disciplinas Realizadas"};
	},
	
	addPlan() {
		let len = Object.keys(this.planos).length;
		this.planos[len+1] = {
			id_plano: len + 1,
			disciplinas: [],
			nome: `Plano ${len + 1}`
		};
	
		console.log(this.planos);
		this.change = !this.change;
	}
  }
};
</script>

<style lang="scss">
.lista-planos {
  font-family: $default-font;
  font-weight: $default-font-weight;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.lista-planos-button {
	margin: 5px auto;
	text-align: center;
	background-color: white;
	width: 10rem;
	border: 1px solid black;
}

.lista-planos-button:hover {
	background-color: rgb(212, 209, 209);
}

</style>