<template>
  <div class="lista-semestre-container"> 
	<div class="lista-semestre-title"> Disciplinas {{semestre}}º semestre </div>
    <ItemSemestre v-for="item of disciplinasSemestre"
                  v-bind:key="item.nome"
                  v-bind:disciplina="item"
                  v-bind:selectDisciplina="selectDisciplina"/>

  </div>
</template>

<script>

import ItemSemestre from '@/components/ItemSemestre.vue';

export default {

  props: ['semestre', 'disciplinasSemestre', 'selectDisciplina'],

  components: {
    ItemSemestre
  }
  
};
</script>

<style lang="scss">
.lista-semestre-container {
  box-sizing: border-box;
  height: 90%;
  padding: 0.5rem 1.7rem 0.5rem 1.7rem;
  background-color: white;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 0px $border-shadow;
}

.lista-semestre-title {
  font-weight: 900;
  font-size: 22px;
  color: $primary-color;
  margin-bottom: 10px;
}
</style>