<template>
  <div class="login-container">
    <div v-if="!pessoa"> Loading </div>
    <div v-else class="aside__logged_user">
      <div class="user-icon-container user-icon"/>
      <div class="logged-down-container">
        <div class="logged-user-name"> {{pessoa.nome}} </div>
        <div class="logout-input-button-container"> <button class="logout-button" type="submit" @click="logout" @submit.prevent/> </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
      return {
        pessoa: undefined
      }
  },

  created: function() {
      this.$axios({
                      method: 'GET', 
                      url: `/pessoas?id_pessoa=eq.${this.$store.getters.getIdPessoa}`
                  }).then(
      (dados) => {
          this.pessoa = dados.data[0];
      });
  },

  methods: {
    logout() {
	  this.$store.commit("resetState");
	  this.$router.push('/')
    }
  }

}
</script>

<style lang="scss">

.aside__logged_user{
  width: 90%;
  margin: auto;
  background-color: $primary-color;
}

.user-icon-container {
    font-family: FontAwesome;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    margin: auto auto 5px auto;
}

.user-icon {
    background-color: white;
}

.user-icon::before {
    content: "\f007";
    font-size: 2.5rem;
    color: $primary-color;
}

.logged-down-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logged-user-name {
  width: 100%;
  font-weight: 500;
  text-align: center;
  color: white;
}

.logout-input-button-container {
  width: 0rem;
}

.logout-button {
  background: none;
  border: 0;
  float: right;
}

.logout-button:before {
  color: white;
  font-family: FontAwesome;
  content: "\f08b";
}

</style>
