<template>
  <div class="login-container">
    <div class="aside__login">
      <div class="login-input-container">
        <div class="login-text"> Email </div>
        <input class="login-input" type="email" v-model="email"/>
      </div>

      <div class="login-input-container">
        <div class="login-text"> Senha </div>
        <input class="login-input" type="password" v-model="password"/>
      </div>

      <div class="login-input-button-container"> <button class="login-button" type="submit" @click="login" @submit.prevent> Login </button> </div>

      <div class="login-input-container">
        <div v-bind:class="errorTreating"> {{errorMessage}} </div>
      </div>  
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
      errorMessage: 'erroooo',
      errorCode: -1
    }
  },

  computed: {
        errorTreating: function() {
            return {
                "login-error-message": this.errorCode !== -1,
                "login-no-error": this.errorCode === -1
            };
        }
  },

  methods: {
    async login() {
      this.errorCode = -1;
      let email_now = this.email
      this.$axios({ method: 'POST',
                    url: `/rpc/autenticar`,
                    headers: {},
                    data: { email: email_now, senha: this.password}
                  })
                  .then(token => {
                     // Save token at global vuex store to be used by auth middleware
                    this.$store.commit("setToken", { token: token.data });
                  })
                  .catch(error => {
                    console.log(error.response);
                    if(error.response) {
                      this.errorCode = error.response.status;
                      this.errorMessage = "Email ou Senha inválidos..."
                    } 
                  });
      this.$axios({ method: 'POST',
                    url: `/rpc/get_id_pessoa`,
                    headers: {},
                    data: { email: email_now }
                  })
                  .then(data => {
                    this.$store.commit("setPessoa", { id_pessoa: data.data[0].id_pessoa });
                    this.$axios({ method: 'POST',
                                  url: "/rpc/disciplinas_cursadas_pelo_aluno",
                                  data: {arg_id_pessoa: data.data[0].id_pessoa}
                                })
                                .then(data2 => {
                                  let all_disciplinas = data2.data
                                  const filtroFeito = (execucao) => {return (execucao.nota) && execucao.nota >= 5};
                                  const filtroFazendo = (execucao) => {return execucao.nota == null};
                                  let disciplinasFeitas = all_disciplinas.filter(filtroFeito)
                                  let disciplinasFazendo = all_disciplinas.filter(filtroFazendo);
                                  this.$store.commit("setDisciplinasFazendo", { disciplinasFazendo });
                                  this.$store.commit("setDisciplinasFeitas", { disciplinasFeitas });
                                  
                                });

                  });


    }
  }
}
</script>

<style lang="scss">

.login-container {
  width: 100%;
  background-color: $primary-color;
  padding-top: 10px;
  height: 6rem;
}

.aside__login {
  margin: 20px 20px 10px 5px;
  width: 90%;
  max-width: 200px;
}

.login-error-message {
  color: red;
  font-weight: 600;
  font-size: 13px;
}

.login-no-error {
  width: 0px;
  height: 0px;
  margin: 0px;
  overflow: hidden;
}

.login-input-container {
  font-family: $default-font;
  font-weight: 300;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 5px; 
}

.login-input {
  font-family: $default-font;
  font-weight: 300;
  width: 75%;
  max-width: 200px;
  border-radius: 2px;
  border: none;
  padding: 2px 2px 2px 2px;
  font-size: 12px;
}

.login-text {
  text-align: center;
  width: 15%;
  font-size: 12px;
  color: white;
  margin: auto;
}

.login-input-button-container {
  font-family: $default-font;
  font-weight: 300;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.login-button {
  font-family: $default-font;
  font-weight: 600;
  font-size: 11px;
  border: 1px solid;

}
</style>
