<template>
	<div class="semestres-buttons-container">
		<div class="semestre-buttons-title"> Semestres: </div>
        <div class="semestre-buttons-item" v-for="semestre of getSemestreArray()" v-bind:key="semestre"> 
			<div class="semestre-button" 
					v-on:click="() => {changeSelectedSemester(semestre)}" 
					v-bind:class="{ 'semestre-button-selected' :  semestreSelecionado === semestre}"> 
					{{semestreText(semestre)}}
			</div>   	     
			<div class="semestre-buttons-bar"> | </div>
        </div>
		<div class="semestre-button-add" @click="addSemestre"> + Adicionar </div>
    </div>
</template>

<script>
export default {

	props: ['changeSemester'],
	
	data() {
    	return {
      		shared_state: this.$store.state.shared_state,
      		semestreSelecionado: 0
    	};
	},
	  
	methods: {
		changeSelectedSemester(novo_semestre) {
			this.semestreSelecionado = novo_semestre;
			this.changeSemester(novo_semestre);
		},

		semestreText(semestre) {
      		if (semestre == 0) return "Geral";
      		return `${semestre}º`;
		},
		
		addSemestre() {
			this.$store.commit("addSemestre");
		},

		getSemestreArray() {
			return [0].concat(this.shared_state.semestres);
		}
	}
};
</script>

<style lang="scss">
.semestres-buttons-container {
	width: 100%;
	height: 100%;
	display: flex;
	color: $primary-color;
}

.semestre-buttons-title {
  font-weight: 900;
  margin: auto 0;
}

.semestre-buttons-item {
  display: flex;
  margin: auto 0;
}

.semestre-button {
  margin: auto 5px auto 5px;
}

.semestre-button-selected {
  text-decoration: underline $primary-color;
}

.semestre-button-add {
	margin: auto 0;
}

</style>
