<template>
  <div>
    <div class="modulo__title"> {{modulo.codigo_modulo}} </div>
    <div class="modulo">
      <div class="selecao-disciplinas">
        <item-disciplina v-for="disciplina of disciplinas"
                        v-bind:key="disciplina.id_disciplina"
                        v-bind:disciplina="disciplina"
                        :selectDisciplinaCallback="selectDisciplinaCallback"/>
      </div>
    </div>
  </div>
</template>

<script>
import ItemDisciplina from "./ItemDisciplina.vue";

export default {
	props: ["modulo", "selectDisciplinaCallback", "disciplinasOptional"],

	data() {
		return {
			disciplinas: []
		};
	},

	components: {
		ItemDisciplina
	},

	created: function() {
		if(this.disciplinasOptional != null) {
			this.disciplinas = this.disciplinasOptional;
		} else {
			this.$axios({
				method: "POST",
				url: "http://localhost:3000/rpc/disciplinas_do_modulo",
				headers: {},
				data: { id_do_modulo: this.modulo.id_modulo }
			}).then(dados => {
				this.disciplinas = dados.data;
				this.ready = true;
			});
		}
	}
};
</script>

<style lang="scss">
.modulo__title {
	font-family: $default-font;
	font-weight: $default-font-weight;
	color: $primary-color;
	padding-top: 0.5rem;
}

.modulo {
	background-color: $light-color;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	margin-top: 0.15rem;
	border-radius: 5px;
}

.selecao-disciplinas {
	margin: 10px 0px 10px 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
</style>
