<template>
  <div class="plano-container" @click="selectPlano" v-bind:class="{ 'plano-selecionado' : isSelected }">
    <div class="plano-title" v-bind:class="{'plano-selecionado-margem' : isSelected}"> {{plano.nome}} </div>
  </div>
</template>

<script>

export default {
  props: ["plano"],

  data() {
    return {
      shared_state: this.$store.state.shared_state
    }
  },

  computed: {
    isSelected: function() {
      return this.plano.id_plano === this.shared_state.planoSelected;
    }
  },

  methods: {
    selectPlano() {
     	console.log("selecao")
      	console.log(this.plano);
      	this.$axios({
			method: "POST",
      		url: `/rpc/disciplinas_planejadas_pelo_aluno_no_plano`,
			data: {
				arg_id_pessoa: this.$store.getters.getIdPessoa,
				arg_num_plano: this.plano.id_plano}
			})
			.then( 
				data => {
					this.plano.disciplinas = data.data;
					console.log(this.plano.disciplinas)
					this.$store.commit("setPlanoSelected", {
															planoSelected: this.plano.id_plano,
															disciplinasPlanoSelected: this.plano.disciplinas 
														});
			});
    }
  }
};
</script>

<style lang="scss">

.plano-container {
  display: flex;
  margin-top: 5px;
  background-color: white;
  height: 2.5rem;
}

.plano-container:hover {
  background-color: $light-color;
}

.plano-title {
  height: 1rem;
  margin: auto 0 auto 0.75rem;
  transition: 0.4s;
}

.plano-selecionado-margem {
  margin: auto 0 auto 1.75rem;
}

.plano-selecionado {
  background-image: linear-gradient(0.25turn, $primary-color, $primary-color 10px, white 10px);
}

</style>
