<template>
  <aside class="aside">
    <div v-if="isLogged" class="aside-box">  
      <loggedUser/>
      <listPlanos/>
    </div>
    
    <div v-else class="aside-box"> 
      <login/> 
    </div>
  </aside>
</template>

<script>
import Login from '@/components/Login.vue';
import LoggedUser from '@/components/LoggedUser.vue'; 
import ListPlanos from '@/components/ListPlanos.vue'; 

export default {
  components: {
    Login,
    LoggedUser,
    ListPlanos
  },

  computed: {
    isLogged() {
      return this.$store.getters.isAuthenticated;
    },
  },
}
</script>

<style lang="scss">

.aside {
  /* Grid to position the cell itself */
  grid-area: aside;
  justify-self: stretch;

  /* Flexbox to align the content in the cell */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  background-color: $light-color;

  border: 0px;
}

.aside-box {
  width: 100%;
}
</style>
