<template>
	<footer class="footer">
		<div v-if="!isReady"> Loading </div>
		<div v-else class="footer-container"> 
			<div class="footer-title"> Contagem de créditos (Total: {{creditosFeitos}} / {{totalCreditos}}) </div>
			<div class="footer-progress-container"> 
				<CreditoProgresso title="Obrigatórias" :totalCreditos="20" :disciplinasToConsider="disciplinasObrigatorias"/>
				<CreditoProgresso title="Eletivas" :totalCreditos="50" :disciplinasToConsider="disciplinasEletivas"/>
				<CreditoProgresso title="Livres" :totalCreditos="24" :disciplinasToConsider="disciplinasLivres"/>
			</div>
		</div>
	</footer>
</template>

<script>

import CreditoProgresso from './CreditoProgresso.vue';

function checkIn(disciplina, arr) {
  if (!arr) return false;
  for (let i = 0; i < arr.length; i++) {
    if (arr[i].id_disciplina === disciplina.id_disciplina) return true;
  }
  return false;
}

export default {
 
	data() {
		return {
			disciplinasObrigatorias: [],
			disciplinasEletivas: [],
			disciplinasLivres: [],
			ready: 0,
			totalCreditos: 120,
			shared_state: this.$store.state.shared_state,
		}
	},

	computed: {
		isReady() {
			return this.ready === 3;
		},

		creditosFeitos() {
			return this.shared_state.disciplinasFeitas.reduce(
				(sum, el) => {
					return sum + el.creditos_aula + el.creditos_trabalho;
				},
				0
			);
		}
	},

	created: function() {
		this.$axios({ 
			method: 'POST',
			url: `/rpc/disciplinas_obrigatorias`,
        })
		.then(data => {
			this.disciplinasObrigatorias = data.data;
			this.ready++;
		});

		this.$axios({ 
			method: 'POST',
			url: `/rpc/disciplinas_eletivas`,
        })
		.then(data => {
			this.disciplinasEletivas = data.data;
			this.ready++;	
		});

		this.$axios({ 
			method: 'POST',
			url: `/rpc/disciplinas_livres`,
        })
		.then(data => {
			this.disciplinasLivres = data.data;	
			this.ready++;
		});

	},

	components: {
		CreditoProgresso
	},

	methods: {
		getCreditoObrigatoria(disciplina) {
			if(checkIn(disciplina, this.$store.getObrigatorias)) {
				return disciplina.creditos
			} else return 
		},

		getCreditoEletiva(disciplina) {

		},

		getCreditoOptativa(disciplina) {

		}
	}

}


</script>

<style lang="scss">
.footer {
	/* Grid to position the cell itself */
	grid-area: footer;
	/* Flexbox to align the content in the cell */
	border: 0px;
	border-top: 1px solid rgb(206, 206, 206);
	border-left: 1px solid rgb(206, 206, 206);
}

.footer-container {
	height: 150px;
	display: flex;
	flex-direction: column;
}

.footer-title {
	padding: 5px 10px;
	background-color: $primary-color;
	color: white;
}

.footer-progress-container {
	display: flex;
	width: 100%;
	justify-content: center;
}
</style>
