<template>
  <nav class="navbar">

  </nav>
</template>

<style lang="scss">

.navbar {
  /* Grid to position the cell itself */
  grid-area: navbar;
  place-self: stretch;

  /* Flexbox to align the content in the cell */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 4.5rem;

  background-color: $primary-color;

  border: 0px;
  border-bottom: 1px solid rgb(206, 206, 206);

}
</style>
