<template>
    <div v-if="!ready"> Loading </div>
    <div v-else>
        <button class="accordion" 
                v-on:click="expand" 
                v-bind:class="caretAnimationClass"> {{trilha.nome}} </button>
        <div class="accordion__top_space"/> 
        <div class="panel" 
             v-bind:class="expandAnimationClass">
            <Modulo v-for="modulo in modulos"
                    v-bind:key="modulo.id_modulo"
                    v-bind:modulo="modulo"
                    :selectDisciplinaCallback="selectDisciplinaCallback"/>
            <div class="panel__bottom_space"/>
        </div>
        <div class="accordion__bottom_space"/> 
    </div>
</template>

<script>
import Modulo from './Modulo.vue';

export default {
    
    props: ['trilha', 'selectDisciplinaCallback'],

    data() {
        return {
            modulos: [],
            closed: true,
            ready: false
        };
    },

    components: {
        Modulo
    },

    created: function() {
        let callback_function = (dados) => {
            this.modulos = dados.data;
            this.ready = true;
        }
        this.$axios({
                        method: 'GET', 
                        url: `/modulos?id_trilha=eq.${this.trilha.id_trilha}`
                    }).then(callback_function);
    },

    methods: {
        expand() {
            this.closed = !this.closed;
        }
    },

    computed: {
        expandAnimationClass: function() {
            return {
                panel__closed: this.closed
            };
        },

        caretAnimationClass: function() {
            return {
                accordion__closed: this.closed,
                accordion__opened: !this.closed
            };
        }
    }
};
</script>

<style lang="scss">

$space_top_trilhas: 0.3rem;
$space_bottom_trilhas: 1rem;

.accordion {
    color: $primary-color;
    background-color: $light-color;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion:hover {
    background-color: $hover-color;
}

.accordion__closed:before {
    font-family: FontAwesome;
    content: "\f0da";
}

.accordion__opened:before {
    font-family: FontAwesome;
    content: "\f0d7";
}

.accordion__top_space {
    width: 100%;
    height: $space_top_trilhas;
}

.accordion__bottom_space {
    width: 100%;
    height: $space_bottom_trilhas;
}

.panel {
    box-sizing: border-box;
    padding: 0 1.7rem;
    background-color: white;
    overflow: hidden;
    max-height: 500px;
    transition: 0.5s;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 0px $border-shadow;
}

.panel__bottom_space {
    padding-top: 1.7rem;
}

.panel__closed {
    border: 0;
    max-height: 0px;
}

</style>

