<template>
  <div class=".cruds__edit">
      <h1 class="edit_title"> Editar aluno </h1>
    <form name="editAluno" class="edit_form">
  ID: <input type="text" id="id" name="id" class="id_input" readonly v-model="id"><br>
  NUSP: <input type="text" id="nusp" name="nusp" v-model="nusp"><br>
  Turma de Ingresso: <input type="text" id="turma" name="turma" v-model="turma"><br>
  <input type="button" @click="salvarAluno()" value="Salvar Alterações">
</form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      id: '',
      nusp: '',
      turma: '',
    }
  },

  methods: {
    salvarAluno() {
      this.$axios({
        method:"PATCH", 
        url:`http://localhost:3000/alunos?id_pessoa=eq.${this.id}`,
        headers:{
          Authorization:'Bearer '+this.$store.state.token
        },
        data: {
          nusp_aluno: this.nusp,
          turma_ingresso: this.turma
        }
      }).then(() => {this.$router.push('/alunos')})
    }
  },

  created: function () {
    var aluno = this.$store.getters.getAluno
    this.id = aluno.id_pessoa
    this.nusp = aluno.nusp_aluno
    this.turma = aluno.turma_ingresso
  }
}
</script>

<style lang="scss">
.cruds__edit {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.edit_title {
  color: $primary-color;
}

input[type=button] {
    background-color: $primary-color;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    width: 105%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

input[type=button]:hover {
  background-color: $hover-color;
  color: $primary-color;
  border: 2px solid $primary-color;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;

}

input[type=text]:focus {
    border: 3px solid $medium-light-gray;
}

.edit_form {
  color:$primary-color;
  justify-content: space-around;
  font-weight: bold;
}

.id_input {
  background-color: $border-shadow;
}

.id_input:focus {
  border: none;
}

</style>
