<template>
  <div class=".cruds__index">
    <h1 class="index_title"> Listagem de Alunos </h1>
    <Aluno v-for="i in Object.keys(alunos)"
                        v-bind:key="i"
                        v-bind:deleteAluno="() => deletaAluno(alunos[i].id_pessoa)"
                        v-bind:aluno="alunos[i]"/>

    <button @click=adicionarAluno class="button_add"> Adicionar Aluno </button>
  </div>
</template>

<script>
import Aluno from '@/components/Aluno.vue';

export default {

  components: {
    Aluno
  },
  
  data() {
    return {
      alunos: []
    };
  },

  methods: {
    adicionarAluno() {
      this.$router.push('alunos/new')
    },
      deletaAluno(id_pessoa) {
        this.alunos = this.alunos.filter((element) => (element.id_pessoa !== id_pessoa))
      console.log(this.alunos)
    }
  },

  created: function() {
    this.$axios({
      method: "GET",
      url: `/alunos`,
    })
    .then(dados => {
      let arr = dados.data
      for(let i=0; i < arr.length; i++) {
        this.alunos.push(arr[i])
      }
    });
  }
};

</script>

<style lang="scss">
.cruds__index {
}

.button_add {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 50px;
  background-color: $primary-color;
  font-size: 20px;
  color: white;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}

.button_add:hover {
  background-color: $hover-color;
  color: $primary-color;
  border: 2px solid $primary-color;
}

.index_title {
  color:$primary-color;
}
</style>
