<template>
  <div class=".cruds__new">
    <h1 class="new_title"> Adicionar Aluno </h1>
    <form name="newAluno" class="new_form">
  ID: <input type="text" id="id" name="id" required><br>
  NUSP: <input type="text" id="nusp" name="nusp" required><br>
  Turma de Ingresso: <input type="text" id="turma" name="turma" required><br>
  CPF: <input type="text" id="cpf" name="cpf" required><br>
  Nome: <input type="text" id="nome" name="nome" required><br>
  Data de Nascimento: <input type="text" id="nascimento" name="nascimento" required><br><br>
  <input type="button" @click="submitAluno()" value="Salvar">
</form>
  </div>
</template>

<script>
export default {
  methods: {
    async submitAluno() {
      var idAluno = document["newAluno"]["id"].value
      var nuspAluno = document["newAluno"]["nusp"].value
      var turmaAluno = document["newAluno"]["turma"].value
      var cpfAluno = document["newAluno"]["cpf"].value
      var nomeAluno = document["newAluno"]["nome"].value
      var nascimentoAluno = document["newAluno"]["nascimento"].value
      if(!idAluno){
        alert('Preencha o ID do aluno!')
        return ; }
      if(!nuspAluno){
        alert('Preencha o Número USP do aluno!');
        return ;
      }
      if(!turmaAluno){
        alert('Preencha a turma do aluno!')
        return ;
      }
      if(!cpfAluno){
        alert('Preencha o cpf do aluno!')
        return ;
      }
      if(!nomeAluno){
        alert('Preencha o nome do aluno!')
        return ;
      }
      if(!nascimentoAluno){
          alert('Preencha o nascimento do aluno!')
        return ;
      }

      var search = []
      this.$axios({
        method: "GET",
        url: `http://localhost:3000/pessoas?id_pessoa=eq.${idAluno}`,
        headers: {}
      }).then(dados => {
        let arr = dados.data
        for(let i=0;i < arr.length; i++){
          search.push(arr[i])
        }
      })

      console.log(search)

      if(search.length == 0){
        // Usuario nao existe
        console.log("Nao existe, postando o novo usuario..")
          this.$axios({
          method: "POST",
          url: `http://localhost:3000/pessoas`,
          headers: {
            Authorization:'Bearer '+this.$store.state.token
          },
          data: {
            id_pessoa: idAluno,
            cpf: cpfAluno,
            nome: nomeAluno,
            nascimento: nascimentoAluno
          }
        }).then(() => {
          //Se conseguiu postar a pessoa, posta o aluno
          console.log("Postou pessoa")
          this.$axios({
            method: "POST",
            url: `http://localhost:3000/alunos`,
            headers: {
              Authorization:'Bearer '+this.$store.state.token
            },
            data: {
              id_pessoa: idAluno,
              nusp_aluno: nuspAluno,
              turma_ingresso: turmaAluno
            }
          },
          (err) => {
            console.log(err)
          }).then(()=>{this.$router.push('/alunos')})})
      } else {
        alert("Usuario já existente! Não foi possível completar o cadastro")
      }

      
    }
  }
}
</script>

<style lang="scss">
.cruds__new {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.new_title {
  color: $primary-color;
}

input[type=button] {
    background-color: $primary-color;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    width: 105%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

input[type=button]:hover {
  background-color: $hover-color;
  color: $primary-color;
  border: 2px solid $primary-color;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;

}

input[type=text]:focus {
    border: 3px solid $medium-light-gray;
}

.new_form {
  color:$primary-color;
  justify-content: space-around;
  font-weight: bold;
}

</style>
<template>
  <div class=".cruds__new">
    <h1 class="new_title"> Adicionar Aluno </h1>
    <form name="newAluno" class="new_form">
  ID: <input type="text" id="id" name="id" required><br>
  NUSP: <input type="text" id="nusp" name="nusp" required><br>
  Turma de Ingresso: <input type="text" id="turma" name="turma" required><br>
  CPF: <input type="text" id="cpf" name="cpf" required><br>
  Nome: <input type="text" id="nome" name="nome" required><br>
  Data de Nascimento: <input type="text" id="nascimento" name="nascimento" required><br><br>
  <input type="button" @click="submitAluno()" value="Submit">
</form>
  </div>
</template>

<script>
export default {
  methods: {
    async submitAluno() {
      var idAluno = document["newAluno"]["id"].value
      var nuspAluno = document["newAluno"]["nusp"].value
      var turmaAluno = document["newAluno"]["turma"].value
      var cpfAluno = document["newAluno"]["cpf"].value
      var nomeAluno = document["newAluno"]["nome"].value
      var nascimentoAluno = document["newAluno"]["nascimento"].value
      if(!idAluno){
        alert('Preencha o ID do aluno!')
        return ; }
      if(!nuspAluno){
        alert('Preencha o Número USP do aluno!');
        return ;
      }
      if(!turmaAluno){
        alert('Preencha a turma do aluno!')
        return ;
      }
      if(!cpfAluno){
        alert('Preencha o cpf do aluno!')
        return ;
      }
      if(!nomeAluno){
        alert('Preencha o nome do aluno!')
        return ;
      }
      if(!nascimentoAluno){
          alert('Preencha o nascimento do aluno!')
        return ;
      }

      var search = []
      this.$axios({
        method: "GET",
        url: `http://localhost:3000/pessoas?id_pessoa=eq.${idAluno}`,
        headers: {}
      }).then(dados => {
        let arr = dados.data
        for(let i=0;i < arr.length; i++){
          search.push(arr[i])
        }
      })

      console.log(search)

      if(search.length == 0){
        // Usuario nao existe
        console.log("Nao existe, postando o novo usuario..")
          this.$axios({
          method: "POST",
          url: `http://localhost:3000/pessoas`,
          headers: {
            Authorization:'Bearer '+this.$store.state.token
          },
          data: {
            id_pessoa: idAluno,
            cpf: cpfAluno,
            nome: nomeAluno,
            nascimento: nascimentoAluno
          }
        }).then(() => {
          //Se conseguiu postar a pessoa, posta o aluno
          console.log("Postou pessoa")
          this.$axios({
            method: "POST",
            url: `http://localhost:3000/alunos`,
            headers: {
              Authorization:'Bearer '+this.$store.state.token
            },
            data: {
              id_pessoa: idAluno,
              nusp_aluno: nuspAluno,
              turma_ingresso: turmaAluno
            }
          },
          (err) => {
            console.log(err)
          }).then(()=>{this.$router.push('/alunos')})})
      } else {
        alert("Usuario já existente! Não foi possível completar o cadastro")
      }

      
    }
  }
}
</script>

<style lang="scss">

.new_form {
  color:$primary-color;
  font-weight: bold;
}

.cruds__new {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.new_title {
  color: $primary-color;
}

input[type=button] {
    background-color: $primary-color;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    width: 110%;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

input[type=button]:hover {
  background-color: $hover-color;
  color: $primary-color;
  border: 2px solid $primary-color;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;

}

input[type=text]:focus {
    border: 3px solid $medium-light-gray;
}


</style>
