/* Colors */
$default-font: 'Lato', 'Arial', sans-serif;
$default-font-weight: 400;
$primary-color:#4286f4;
$secondary-color: #FF9800;
$split-complementary-color: #dff442;
$split-complementary-color2: #f45742;
$dark-color: #1C1C1C;
$light-color: #F5F5F5;
$medium-gray: rgb(133, 133, 133);
$medium-light-gray:rgb(156, 156, 156);
$hover-color: rgb(230, 230, 230);
$border-shadow: rgb(200, 200, 200);